header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}

.icon-button-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: red;
}