@import url('https://fonts.googleapis.com/css2?family=Chathura:wght@100;400&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
/* include border and padding in element width and height */

* {
  box-sizing: border-box;
}

/* override browser default */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Chathura', sans-serif;
  font-family: 'Playfair Display', serif;
}

h1 {
  text-align: center;
  padding-top: 20px;
}

h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

hr {
  width: 80%;
}

section+section {
  padding-top: 40px;
}