@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
/* include border and padding in element width and height */

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* override browser default */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  padding-top: 20px;
}

h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

hr {
  width: 80%;
}

section+section {
  padding-top: 40px;
}

.button-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}