@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
/* include border and padding in element width and height */

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: rgb(44, 44, 44);
}

/* override browser default */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  padding-top: 20px;
  color: rgb(0, 0, 0);
}

h2 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(0, 0, 0);
}

h3 {
  color: rgb(0, 0, 0);
}

hr {
  width: 80%;
}

section {
  padding: 20px;
  border: thin solid rgb(229, 229, 229);
  border-radius: 10px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
}

section+section {}

.button-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}